// Body
$body-bg: #f6f9fc;

// Typography
$font-family-sans-serif: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #408af8;
$indigo: #4F4581;
$purple: #6772ef;
$pink: #f29fbd;
$red: #f9426c;
$orange: #e69a5a;
$yellow: #F9F871;
$green: #3ecf8e;
$teal: #00DBD7;
$cyan: #6cb2eb;

